#our-strengths .strengths {
    font-size: 1.8em;
    margin-top:20px;
}

#about-us span {
    font-size: 1.6em;
    font-variant: small-caps;
}

#about-us p{
    font-size: 1.2em;
}
/*
.head-box {
    padding: 15px;
    background-color: $color-2;
    color: $color-1;
    border-radius:15px;
}*/