#about-us {
    margin-top: 30px;
}

#about-us img {
    margin-bottom: 30px;
}
#our-strengths .strengths {
    font-size: 35px;
    margin-top: 20px;
}

#about-us span {
    font-size: 1.7em;
    font-variant: small-caps;
    margin-top:60px;
}

#about-us p{
    font-size: 1.1em;
    margin-bottom: 50px;
}
/*
.head-box {
    padding: 15px;
    background-color: $color-2;
    color: $color-1;
    border-radius:15px;
}*/