body {
    color: $color-4;
    font-family: $font-stack-1;
    font-size: 16px;
    padding-top: 90px; //To account for navbar fixed top
    background-color: $color-1 ;
    //Linear gradient - linear-gradient(135deg, #667eea 0%, #764ba2 100%)
}
