#products-page h2 {
    font-size: 1.7em;
    font-variant: small-caps;
    margin-bottom: 20px;
    margin-top: 10px;
}

.product-tile {
    height: 150px;
    width: 100%;
    margin-bottom: 15px;
    position: relative;
    border: 0 1px 5px rgba(0, 0, 0, 0.15);
    border-radius: 5px;
    overflow: hidden;
    background: url('http://via.placeholder.com/300x150') no-repeat;
    background-position: center;
  }
  .product-tile:hover {
    -webkit-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	-moz-box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
	box-shadow:0 0 10px rgba(0, 0, 0, 0.5);
  }  
  .product-tile span {
    position: absolute;
    bottom: 2;
    right: 0;
    width: 100%;
    text-align: center;
    font-size: 1.2em;
    font-style: italic;
    background-color: $color-2;
    color: $color-1;
    opacity: .8;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
  }