/****Variable Declarations****/
$color-1: #fefefe;
$color-2: #000064;
$color-3: #8FAE22;
$color-4: #333333;
$color-5: #764ba2;
$color-6: #667eea;
$color-7: #1034A6;
$color-8: #C6D4FF;

$font-stack-1: 'Cabin', sans-serif;
$font-stack-2: 'Dosis', sans-serif;
$font-stack-3: 'Lato', sans-serif;
$font-stack-4: 'Volkhov', serif;
$font-stack-5: 'Vollkorn', serif; 
/*****************************/